<div class="jumbotron">
    <h1>Shippies</h1>
    <p>Shippies is a resource for sharing the best surf spots with random strangers!</p>
    <p>
        <%= link_to "Sign In", new_session_path, class: 'btn btn-primary'%> or
        <%= link_to "Sign Up!", new_user_path, class: 'btn btn-primary' %>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Community</h2>
        <p>Shippies is a group of surf kooks and boarders who rather surf than go to work.</p>
    </div>
    <div class="col-md-4">
        <h2>Knowledge</h2>
        <p>Shippies guarantees you won't enjoy your local spot due to the overwhelming surf kooks getting in on that south swell you were yabbering aout online..</p>
    </div>
    <div class="col-md-4">
        <h2>Passion</h2>
        <p>Shippies is maintained every day with care from our staff of beach bums.</p>
    </div>
</div>
