<div>
    <h1>DirtLurk</h1>
    <p>We just ride bikes!</p>
    <p>
        <%= link_to "Sign In", new_session_path, class: 'btn btn-primary'%> or
        <%= link_to "Sign Up!", new_user_path, class: 'btn btn-primary' %>
    </p>
</div>

<div class="row features">
    <div class="col-md-4 community">
        <h2>Community</h2>
    </div>
    <div class="col-md-4 news">
        <h2>News</h2>
    </div>
    <div class="col-md-4 buy-sell">
        <h2>Buy and Sell</h2>
    </div>
</div>
